</section> <!-- closing id=content -->


<footer>
<hr class="shortgrey" />


<div id="footer-nav-container">
<div id="mission">
<strong>Our Mission:</strong> To support parents in the vital role that they play in their child's development and education.
</div>
<div id="footer-nav">
<div style="width: 33%; float: left;">
<a title="Register for Class"      href="/24/how-to-signup">Register</a><br />
<a title="Donate"                  href="/187/donate">Donate</a><br />
<a title="Volunteer"               href="/188/volunteer">Volunteer</a><br />
<a title="Our Facebook Page"       href="https://www.facebook.com/pages/Baby-University/129933307049520">Facebook</a>&rarr;
</div>
<div style="width: 33%; float: left;">
<a title="Supporters"              href="/235/supporters">Supporters</a><br />
<a title="South Toledo Kids Zone"  href="/194/south-toledo-kids-zone">Children</a><br />
<a title="Why Parents Matter"      href="/29/why-parents-matter">Parents</a><br />
<a title="Our Outcomes"            href="/23/our-outcomes">Outcomes</a>
</div>
<div style="width: 33%; float: left;">
<a title="About"                   href="/174/about">About</a><br />
<a title="Contact"                 href="/213/Contact">Contact</a><br />
<a title="Blog"                    href="/blog">Blog</a><br />
<a title="Search"                  href="/searchform">Search</a>
</div>
</div> <!-- footer nav -->
<!--
<div id="mission">
<strong>Our Mission:</strong> To support parents in the vital role that they play in their child's development and education.
</div>
-->
<!-- - <!-- tmpl_var name="site_description" --> -->
<!-- - <!-- tmpl_var name="site_name" --> -->
</div> <!-- footer nav container -->
<div style="text-align: center; clear: left; clear: right;">
<div>
2010-2015 - <a href="<!-- tmpl_var name="home_page" -->"><strong>Baby University</strong></a> is a 501 (c) (3) nonprofit organization
</div>
<div>
 Affiliated with <a href="http://wamteam.org">Mosaic Ministries</a>
</div>
<div>
1411 Broadway; Toledo, OH 43604 | Phone: 419-740-0085
</div>
<!-- tmpl_if loggedin --> 
<div> 
 <a title="Your profile and settings" href="<!-- tmpl_var name="cgi_app" -->/user/<!-- tmpl_var name="user_name" -->">[settings]</a>
 &nbsp; <a title="Your articles" href="<!-- tmpl_var name="cgi_app" -->/userarticles/<!-- tmpl_var name="user_name" -->">[articles]</a>
 &nbsp; <a title="Notes" href="<!-- tmpl_var name="cgi_app" -->/notes">[notes]</a>
 &nbsp; <a title="Create new post" href="<!-- tmpl_var name="cgi_app" -->/compose">[compose]</a>
</div>
<!-- /tmpl_if -->
</div> <!-- close style -->

<!-- commented these two options out on 2-Oct-2014 because these won't work if caching
<p>
               <a href="<!-- tmpl_var name="cgi_app" -->/textsize/small"     title="Switch to small text size"><span style="font-size:90%">A</span></a>
 &nbsp; &nbsp; <a href="<!-- tmpl_var name="cgi_app" -->/textsize/medium"    title="Switch to default text size"><span style="font-size:120%">A</span></a>
 &nbsp; &nbsp; <a href="<!-- tmpl_var name="cgi_app" -->/textsize/large"     title="Switch to large text size"><span style="font-size:150%">A</span></a>
</p>
<p>
               <a href="<!-- tmpl_var name="cgi_app" -->/fonttype/serif"     title="Switch to serif font">serif</a> 
 &nbsp; &nbsp; <a href="<!-- tmpl_var name="cgi_app" -->/fonttype/sansserif" title="Switch to sans-serif font">sans-serif</a> 
</p>
-->

<!--
<div>
current date: <!-- tmpl_var name="serverdatetime" -->
</div>
-->

</footer>

<!-- </div> --> <!-- close scroll_text div id in header template files -->

<script src="http://code.jquery.com/jquery-1.9.1.js"></script> 
<script src="http://babyu.soupmode.com/javascript/meanmenu/jquery.meanmenu.min.js"></script> 
<script>
jQuery(document).ready(function () {
    jQuery('header nav').meanmenu();
});
</script>

</body>
</html>

