
<div id="site-head">
<header>
<div id="largescreens-main-header">
 <div style="float:right;padding-right:10px;">
<!--
   <span class="largescreens-menu-item"> &nbsp; <a title="Supporters" href="/post/Supporters">Supporters</a></span>
   <span class="largescreens-menu-item"> &nbsp; <a title="Children"   href="/post/Children">Children</a></span>
   <span class="largescreens-menu-item"> &nbsp; <a title="Parents"    href="/post/Parents">Parents</a></span>
-->
   &nbsp; <span class="green-button"><a title="Donate" href="/187/donate">Donate</a></span>
   &nbsp; <a title="About" href="/174/About">About</a>
   &nbsp; <a title="Contact" href="/213/Contact">Contact</a>
   &nbsp; <a title="Blog" href="/blog">Blog</a>
   <span class="largescreens-menu-item"> &nbsp; <a title="Search" href="/searchform">Search</a></span>
 </div> <!-- close div for float right -->

 <div id="article-logo">
  <a href="http://babyu.soupmode.com"><img border="0" src="/images/babyu-banner-middle-panel-smallest.png"></a>
 </div>
 <div id="site-title">
  <a href="http://babyu.soupmode.com">Baby University</a>
 </div>
 <div id="sub-title">
  <a href="http://babyu.soupmode.com"><em>Because Parents Matter</em></a>
 </div>

</div> <!-- close largescreens-main-header -->
<span id="homelink"><a title="Home Page" href="http://babyu.soupmode.com">Baby U</a></span>
<div id="smallscreens-menu">
<nav>
<ul>
<li><a href="/187/donate">Donate</a></li>
<li><a href="/174/about">About</a></li>
<li><a href="/213/contact">Contact</a></li>
<li><a href="/searchform">Search</a></li>
</ul>
</nav>
</div> <!-- close smallscreens-menu -->

</header>


<!--
<div id="button-area">
<form   action="http://babyu.soupmode.com/24/how-to-signup"><input  id="register-button"  class="submitbutton" type="submit" value="Register"></form> 
<input  id="register-button"  class="submitbutton" type="submit" value="Register"></a>
<input  id="donate-button"    class="submitbutton" type="submit" value="Donate">
<input  id="volunteer-button" class="submitbutton" type="submit" value="Volunteer">
</div>
-->

</div> 


