
<div id="homepage-site-head">

<header>

<div id="largescreens-main-header">
<div style="float:right;padding-right:10px;">
  <span class="smallscreens-menu-item"><a title="" href="/23/our-outcomes">Outcomes</a> &nbsp; </span>
  <a title="About" href="/174/about">About</a>   
  &nbsp; <a title="Contact" href="/213/Contact">Contact</a>   
  <span class="largescreens-menu-item"> &nbsp; <a title="Blog" href="/blog">Blog</a></span>
  <span class="largescreens-menu-item"> &nbsp; <a title="Search" href="/searchform">Search</a></span>
</div>
<div style="padding-left: 10px;">
  <a title="" href="/235/supporters">Supporters</a>
  &nbsp; <a title="" href="/194/south-toledo-kids-zone">Children</a>
  &nbsp; <a title="" href="/29/why-parents-matter">Parents</a>
  <span class="largescreens-menu-item"> &nbsp; <a title="" href="/23/our-outcomes">Outcomes</a></span>
</div>
</div> <!-- close largescreens -->


<!-- <span class="largescreens-menu-item"> -->

<div id="smallscreens-menu">
<nav>
<ul>
<li><a href="/187/donate">Donate</a></li>
<li><a href="/174/about">About</a></li>
<li><a href="/213/contact">Contact</a></li>
<li><a href="/searchform">Search</a></li>
</ul>
</nav>
</div> <!-- close smallscreens -->

</header>

</div>  <!-- close homepage-site-head -->


<div id="homepage-banner-text">
<h1 class="homepage-headingtext">Baby University</h1> 
<a href="http://babyu.soupmode.com"><img border="0" src="http://babyu.soupmode.com/images/babyu-banner-2.png"></a>
<div id="homepage-subtitle"><em>Because Parents Matter</em></div>
</div>


<!-- <!-- tmpl_var name="background_image" --> -->

<!-- <!-- tmpl_var name="loggedin" --> -->
<!-- <!-- tmpl_var name="user_name" --> -->

<!-- tmpl_if filter_by_author_name -->
<!-- <div id="blog-title"><a title="<!-- tmpl_var name="filtered_author_name" -->'s profile page"  href="/user/<!-- tmpl_var name="filtered_author_name" -->"><!-- tmpl_var name="blog_title" --></a></div> -->
<!-- <a title="<!-- tmpl_var name="filtered_author_name" -->'s articles"  href="/userarticles/<!-- tmpl_var name="filtered_author_name" -->"><img id="blog-author-image" src="<!-- tmpl_var name="blog_author_image" -->" border="0" /></a> -->
<!-- <div id="blog-description"><!-- tmpl_var name="blog_description" --></div> -->
<!-- tmpl_else -->
<!-- <div id="blog-title"><a href="/post/about-baby-u"><!-- tmpl_var name="blog_title" --></a></div> -->
<!-- <div id="blog-title"><a href="/post/about-baby-u">Baby University</a></div>  -->
<!-- <div id="blog-description"><!-- tmpl_var name="blog_description" --></div> -->
<!--
<div id="blog-description">
<form style="padding-left: 10px; display:inline!important;"  action="http://babyu.soupmode.com/24/how-to-signup">
<input id="sign-up-button" type="submit" value="How to Sign-up">  
</form>
</div>
-->
<!-- /tmpl_if -->

