
<div id="site-head">
<header>
 <div style="float:right;padding-right:10px;">
   <span class="largescreens-green-button green-button"><a title="Donate" href="/187/donate">Donate</a></span>
   <span class="smallscreens-green-button"><a title="Donate" href="/187/donate">Donate</a></span>
   &nbsp; <a title="About" href="/174/About">About</a>
   &nbsp; <a title="Contact" href="/213/Contact">Contact</a>
   <span class="largescreens-menu-item">&nbsp; <a title="Blog" href="/blog">Blog</a></span>
   <span class="largescreens-menu-item"> &nbsp; <a title="Search" href="/searchform">Search</a></span>
 </div> <!-- close div for float right -->

<div id="largescreens-main-header">
 <div id="article-logo">
  <a href="http://babyu.soupmode.com"><img border="0" src="/images/babyu-banner-middle-panel-smallest.png"></a>
 </div>
 <div id="site-title">
  <a href="http://babyu.soupmode.com">Baby University</a>
 </div>
 <div id="sub-title">
  <a href="http://babyu.soupmode.com"><em>Because Parents Matter</em></a>
 </div>

</div> <!-- close largescreens-main-header -->
<span id="homelink"><a title="Home Page" href="http://babyu.soupmode.com">Baby U</a></span>

</header>

</div> 


