<!-- tmpl_include name="header.tmpl" -->
<!--
<p>
Drafts For &ldquo;<!-- tmpl_var name="author_name" -->&rdquo; 
 - <a href="<!-- tmpl_var name="cgi_app" -->/notes/<!-- tmpl_var name="author_name" -->">#</a>
 - <a href="<!-- tmpl_var name="cgi_app" -->/notes/<!-- tmpl_var name="author_name" -->/rss">rss</a>
</p>
-->
<!-- tmpl_if loggedin -->
<!-- tmpl_include name="inc_streamloop.tmpl" -->
<!-- /tmpl_if -->
<!-- tmpl_include name="footer.tmpl" -->
