<header>
<div style="float:right;padding-right:10px;">
<a title="About" href="<!-- tmpl_var name="cgi_app" -->/174/About">About</a>   
 &nbsp; 
<a title="Contact" href="<!-- tmpl_var name="cgi_app" -->/213/Contact">Contact</a>   
 &nbsp; 
<a title="Search" href="<!-- tmpl_var name="cgi_app" -->/searchform">Search</a> 
<!-- <a title="Search" href="<!-- tmpl_var name="cgi_app" -->/searchform"><img border="0" src="/images/magnifying-glass-2.png"></a> -->
<!-- <a title="Search" href="<!-- tmpl_var name="cgi_app" -->/searchform"><i class="fa fa-search"></i></a> -->
</div>
<nav>
<ul>
<!-- <li><a title="Home Page" href="<!-- tmpl_var name="home_page" -->"><i class="fa fa-home"></i></li></a> -->
<li><a title="Baby U Home Page" href="<!-- tmpl_var name="home_page" -->">Baby U</a></li> 
<!-- <li><a title="Baby U Home Page" href="<!-- tmpl_var name="home_page" -->"><!-- tmpl_var name="site_name" --></a></li>  -->
<!-- <li><a title="Home Page " href="<!-- tmpl_var name="home_page" -->"><small>home</small></a></li>  -->
<!-- tmpl_if loggedin --> 

<li class="userlink"><a title="Your profile and settings" href="<!-- tmpl_var name="cgi_app" -->/user/<!-- tmpl_var name="user_name" -->"><i class="fa fa-cog"></i></a></li>
<li class="userlink"><a title="Notes" href="<!-- tmpl_var name="cgi_app" -->/notes"><i class="fa fa-file-text"></i></a></li>
<li class="userlink"><a title="Create new post" href="<!-- tmpl_var name="cgi_app" -->/compose"><i class="fa fa-pencil"></i></a></li>

<!-- 
<li class="userlink"><a title="Your profile and settings" href="<!-- tmpl_var name="cgi_app" -->/user/<!-- tmpl_var name="user_name" -->"><strong>U</strong></a></li>
<li class="userlink"><a title="Notes" href="<!-- tmpl_var name="cgi_app" -->/notes"><strong>N</strong></a></li>
<li class="userlink"><a title="Create new post" href="<!-- tmpl_var name="cgi_app" -->/compose"><strong>C</strong></i></a></li>
-->

<!-- /tmpl_if -->
</ul>
</nav>
</header>
