
<!-- tmpl_include name="inc_headernav.tmpl" -->

<!--
<!-- tmpl_var name="background_image" -->
<!-- tmpl_var name="filter_by_author_name" -->
<!-- tmpl_var name="filtered_author_name" -->
<!-- tmpl_var name="blog_title" -->
<!-- tmpl_var name="blog_author_image" -->
<!-- tmpl_var name="blog_description" -->
<!-- tmpl_var name="blog_title" -->
<!-- tmpl_var name="blog_description" -->
-->
