<div id="largeimageheader" style="background-image: url('<!-- tmpl_var name="largeimageheaderurl" -->')">
<header>
<nav>
<ul>
<li><span class="white-links"><a title="Home Page" href="http://babyutoledo.com">BabyU</a></span></li>
</ul>
</nav>
</header>
<div class="vertical">
<div id="article-title">Adopt a Family</div>
<div id="article-description"><em>Help Build the Next Generation</em></div>
</div>
</div>
