
<div id="custom-article-largeimageheader" style="background-image: url('<!-- tmpl_var name="largeimageheaderurl" -->')"> 

<header>
 <div style="float:right;padding-right:10px;">
   <span class="largescreens-donate transparent-button"><a title="Donate" href="/8/donate">Donate</a></span>
   <span class="white-links smallscreens-donate"><a title="Donate" href="/8/donate">Donate</a></span>
 </div> <!-- close div for float right -->

<!--
<div id="largescreens-main-header">
 <div id="custom-article-logo">
  <a href="http://babyutoledo.com"><img id="custom-article-logo-circle" alt="Back to Home Page" title="Back to Home Page" border="0" src="/images/babyu-banner-middle-panel-smallest.png"></a>
 </div>
</div>
-->

<span id="homelink" class="white-links"><a title="Home Page" href="http://babyutoledo.com">BabyU</a></span> 
<span style="margin-left:5px;" class="largescreens-donate transparent-button"><a title="Home Page" href="http://babyutoledo.com">BabyU</a></span> 
</header>

<div class="vertical">
<div id="article-title">Adopt a Family</div>
<div id="article-description"><em>Help Build the Next Generation</em></div>
</div>
</div>

