<!-- tmpl_include name="header.tmpl" -->

<!-- tmpl_if filter_by_author_name -->
<strong>Articles by: <!-- tmpl_var name="filtered_author_name" --></strong>
<!-- /tmpl_if -->

<!-- tmpl_include name="inc_streamloop.tmpl" -->
<!-- tmpl_include name="footer.tmpl" -->

<!-- <div id="blog-description"><!-- tmpl_var name="blog_title" --></div> -->
<!-- <div id="blog-description"><!-- tmpl_var name="blog_description" --></div> -->
<!-- <!-- tmpl_var name="background_image" --> -->

